{% extends "layoutAdmin.html.twig" %}
{% block adminName %}
    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <img src="{{ asset('images/admin1.png') }}" alt=""/>
        {{ name }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Log Out</a></li>
    </ul>
{% endblock %}

{% block content %}

    <h1>Modifier une reclamation</h1>
    <div class="col-md-6 col-sm-6">
        {{ form_start(form) }}
        Sujet: {{ form_widget(form.sujetreclamation, { 'attr': {'class': 'form-control'} }) }}
        Description: {{ form_widget(form.descriptionreclamation, { 'attr': {'class': 'form-control'} }) }}
        Status: {{ form_widget(form.statusreclamation, { 'attr': {'class': 'form-control'} }) }}
        Nom Produit: {{ form_widget(form.nomproduit, { 'attr': {'class': 'form-control'} }) }}<br>
        {{ form_widget(form.Modifier,{ 'attr': {'class': 'btn btn-success'} }) }}
        {{ form_end(form) }}

    </div>
{% endblock %}