{% extends "layoutUser.html.twig" %}
{% block login %}
<li><a href="{{ path('userdash') }}"> Welcome {{ name }}</a>
<li><a href="contact.html">Contact</a>
<li><a href="{{ path('fos_user_security_logout') }}">Logout</a>
    {% endblock %}
    {% block content %}
        <body>
        <div id="all">

            <div id="content">
                <div class="container">

                    <div class="col-md-12">

                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>Ajout Reclmation</li>
                        </ul>

                    </div>


                    <div class="col-md-12" id="wishlist">


                        <div class="box">
                            <h1>Ajout Reclmation</h1>
                            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                                ac turpis egestas.</p>


                            <div>
                                {{ form_start(form) }}
                                Sujet: {{ form_widget(form.sujetreclamation, { 'attr': {'class': 'form-control'} }) }}
                                Description: {{ form_widget(form.descriptionreclamation, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <br>

                            <input type="submit" value="Envoyer" class="btn btn-success"/>


                            {{ form_end(form) }}

                        </div>


                        <!-- /.products -->

                    </div>
                </div>
                <!-- /.container -->
            </div>
        </div>

        <br>
        <br>
        </body>





    {% endblock %}
